* {
    padding: 0;
    margin: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #536976, #292e49);
    /* background-size: cover;
    background-position: center; */
}

.header-box {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 200px;
    height: 250px;
    background-color: linear-gradient(to bottom, #536976, #292e49);
    overflow: hidden;
}

.header-box:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 300%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate1 5s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.header-box:after {
    content: '';
    position: absolute;
    inset: 8px;
    background: #292e49;
    border-radius: 20px;
}

.header-box2 {
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    top: 150px;
    right: -150px;
    width: 250px;
    height: 200px;
    background-color: linear-gradient(to bottom, #536976, #292e49);
    overflow: hidden;
}

.header-box2:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 300%;
    bottom: -150px;
    left: 150px;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate2 7s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header-box2:after {
    content: '';
    position: absolute;
    inset: 8px;
    background: #292e49;
    border-radius: 20px;
}

.header-box3 {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    top: 0px;
    right: -250px;
    width: 200px;
    height: 250px;
    background-color: linear-gradient(to bottom, #536976, #292e49);
    overflow: hidden;
}

.header-box3:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 200%;
    bottom: -150px;
    left: 150px;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate3 9s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.header-box3:after {
    content: '';
    position: absolute;
    inset: 8px;
    background: #292e49;
    border-radius: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8% 0;
}

.open {
    background-color: #292e49;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    position: absolute;
    right: 8%;
    top: 35px;
    align-items: center;
    transition: all .55s ease;
    z-index: 1001;
}

#nav-list2 {
    transition: all 3s ease-out;
}

.nav-list2 {
    display: none;
}

.logo {
    color: white;
    font-size: xx-large;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: rgba(255, 0, 0, 0.826);
}

nav ul li {
    color: white;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .55s ease;
}

nav ul li a:hover {
    color: rgba(255, 0, 0, 0.826);
    border-bottom: 2px solid white;
    transition: all .55s ease;
}

#burger {
    z-index: 10;
    cursor: pointer;
    display: none;
    transition: all .75s ease;
}

.bar {
    background-color: white;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all .3s ease;
    z-index: 10002;
}

.btn {
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.826);
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;

}

.btn:hover {
    transform: translateX(-10px);
    transition: all .55s ease;
}

.img img {
    width: 300px;
}

.introduction {
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 8%;
}

h1 {
    color: white;
    margin: 20px 0 20px;
    font-size: 70px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: rgba(220, 87, 87, 0.788);
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form {
    width: 350px;
    max-width: 100%;
    position: relative;
}

.newsletter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgba(255, 0, 0, 0.826);
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.826);
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 10px;
    color: white;
}

.newsletter form input:last-child:hover {
    transform: translateX(5px);
}

#about {
    background: linear-gradient(to left, #536976, #292e49);
}

.about {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.about img {
    width: 450px;
    box-shadow: #000;
    background-blend-mode: darken;
}

.about-text {
    width: 500px;
}

.about-text h2 {
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 45px;
}

.readMore {
    display: flex;
    justify-content: center;
    width: 15%;
    margin: 50px auto 0;
}

.button {
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.826);
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    transition: all .50s ease;
}

.button:hover {
    background-color: transparent;
    border: 2px solid rgba(220, 87, 87, 0.788);
    cursor: pointer;
}

#services {
    /* background: #536976; */
    background: linear-gradient(to right, #536976, #292e49);
    width: 100%;
    padding: 100px;
}

.services h2 {
    color: white;
    font-size: 70px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 430px;
    width: 330px;
    padding: 20px 35px;
    background: #292e49;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgba(255, 0, 0, 0.826);
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.para p {
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.826);
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    position: absolute;
    bottom: 20px;
    left: 90px;
    transition: all .50s ease;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid rgba(220, 87, 87, 0.788);
    cursor: pointer;
}

.contact {
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #536976, #292e49);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-dets {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact-dets .mail h3 {
    padding: 0;
    margin-bottom: 20px;
}

.contact-dets .mail p {
    width: 70%;
    letter-spacing: 1px;
    line-height: 5px;
}

.contact-dets .mobile {
    margin-left: 10%;
    border-left: 2px solid white;
    padding-left: 10%;
    line-height: 2px;
    letter-spacing: 1px;
}

.contact-dets .mobile h3 {
    padding: 0;
    margin-bottom: 35px;
}

.contact-dets .mobile p {
    width: max-content;
}

.needs {
    margin: 25px;
    font-size: 25px;
}

.contact p {
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact .button-2 {
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.826);
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    transition: all .55s ease;
}

.contact .button-2:hover {
    background-color: transparent;
    border: 2px solid rgba(220, 87, 87, 0.788);
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    /* background: #536976; */
    background: #292e49;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 18px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 0, 0, 0.826);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: larger;
}

.social a:hover {
    transform: translateY(-5px);
    transition: all .20s ease;
}

.end {
    color: rgba(220, 87, 87, 0.788);
    position: absolute;
    font-size: 15px;
    bottom: 20px;
}

.R-introduction{
    padding: 150px 8%;
}

@media(max-width: 1020px) {
    .introduction {
        margin-top: 100px;
    }

    nav li a {
        font-size: smaller;
    }

    .btn {
        font-size: medium;
        font: 300;
        padding: 5px 15px;
    }

    h1 {
        margin: 10px 0 10px;
        font-size: 45px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    h4 {
        letter-spacing: 1px;
        font-size: 15px;
    }

    .newsletter form {
        width: 300px;
    }

    .newsletter form input:first-child {
        padding: 7px 90px 7px 8px;
        border: 2px solid rgba(255, 0, 0, 0.826);
        outline: none;
        border-radius: 30px;
    }

    .newsletter form input:last-child {
        padding: 7px 15px;
        border-radius: 30px;
        top: 2px;
        right: 5px;
    }



    .header-box {
        margin-left: 50px;
        width: 100px;
        height: 155px;
    }

    .header-box2 {
        margin-left: 50px;
        width: 150px;
        height: 100px;
        top: 100px;
        right: -100px;
    }

    .header-box3 {
        margin-left: 50px;
        top: 0px;
        right: -150px;
        width: 100px;
        height: 150px;
    }

    #about {
        height: 70vh;
        padding: 100px;
    }

    .about {
        padding: 50px 0;
    }

    .about img {
        width: 350px;
    }

    .about-text {
        width: 300px;
    }

    .about-text h2 {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .about-text h5 {
        letter-spacing: 1px;
        font-size: 20px;
        margin-bottom: 15px;
        text-transform: capitalize;
    }

    .about-text p {
        letter-spacing: 1px;
        line-height: 15px;
        font-size: 15px;
        margin-bottom: 25px;
    }

    .readMore {
        width: 20%;
        margin: 30px auto 0;
    }

    .button {
        padding: 5px 15px;
        font-weight: normal;
        font-size: medium;
    }

    #services {
        padding: 50px 0;
    }

    .services h2 {
        font-size: 45px;
        width: 565px;
        margin: 15px auto;
    }

    .box {
        min-height: 200px;
    }

    .card {
        height: 350px;
        width: 200px;
        padding: 10px 15px;
    }

    .card i {
        font-size: 15px;
        margin: 20px 0px;
    }

    h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .para p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .contact {
        height: 250px;
    }

    .contact-dets .mobile h3 {
        padding: 0;
        margin-bottom: 20px;
    }

    .needs {
        margin: 25px;
        font-size: 20px;
    }

    .contact p {
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .contact .button-2 {
        padding: 5px 10px;
        text-decoration: none;
        font-weight: normal;
        font-size: medium;
    }

    footer {
        height: 300px;
    }

    footer p:nth-child(1) {
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
        font-weight: bold;
    }

    footer p:nth-child(2) {
        font-size: 15px;
        width: 300px;
    }

    .social a {
        width: 25px;
        height: 25px;
        margin: 12px 5px;
        font-size: larger;
    }

    .profile img {
        width: 25%;
        left: 35%;
    }

    .profile-text h2 {
        font-size: 35px;
    }

    .experience h2 {
        font-size: 45px;
        padding: 100px 0 0;
    }

    .experience img {
        display: none;
    }

    .experience-text {
        align-items: center;
        width: 80%;
        align-content: center;
        text-align: center;
    }

    .experience-text h3 {
        font-size: 35px;
    }

    .certificates h2 {
        font-size: 45px;
    }

    .certificates i {
        font-size: 20px;
    }

    .certificates a {
        font-size: 20px;
    }
}

@media(max-width: 920px) {
    #burger {
        display: block;
        z-index: 10002;
    }

    #burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    #burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }

    #burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }

    .introduction {
        margin-top: 120px;
    }

    #nav-list {
        display: none;
    }

    .btn {
        display: none;
    }



    .header-box {
        margin-left: 25px;
    }

    .header-box2 {
        margin-left: 0;
        right: -85px;
    }

    .header-box3 {
        margin-left: 25px;
        right: -125px;
        top: -25px;
    }

    .about {
        padding: 0;
    }

    .about img {
        width: 250px;
    }

    .about-text {
        width: 250px;
    }

    .box {
        flex-direction: column;
    }

    .card {
        margin: 25px 0;
        height: 250px;
        width: 350px;
    }

    .card i {
        font-size: 20px;
    }
}

@media(max-width:750px) {
    .header-box {
        margin-left: 0px;
        height: 200px;
        width: 120px;
    }

    .header-box2 {
        display: none;
    }

    .header-box3 {
        display: none;
    }
}

/*read more page*/
.page-name {
    font-size: 25px;
    font-weight: bold;
}

.page-name a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.det {
    border-bottom: 2px solid white;
}

.R-introduction p {
    font-size: 20px;
    margin-bottom: 30px;
    width: 500px;
}

.profile {
    background: linear-gradient(to left, #536976, #292e49);
    display: block;
}

.profile img {
    width: 35%;
    position: relative;
    left: 30%;
    height: auto;
    margin: 0;
}

.profile-text {
    width: 70%;
    left: 15%;
    position: relative;
}

.profile-text h2 {
    color: white;
    font-size: 45px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.profile-text p {
    color: white;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-bottom: 30px;
}

.experience {
    background: linear-gradient(to top, #536976, #292e49);
}

.experience h2 {
    color: white;
    font-size: 70px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.experience-row {
    display: flex;
    justify-content: center;
    gap: 15%;
    width: 80%;
    margin-left: 10%;
    padding: 50px 0;
}

.experience img {
    width: 450px;
    height: auto;
}

.experience-text {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
}

.experience-text h3 {
    font-size: 45px;
    padding-top: 30px;
}

.experience-text p {
    color: white;
    font-size: 20px;
    padding: 15px 0 30px;
    line-height: 23px;
}

#certification {
    background: linear-gradient(to top, #536976, #292e49);
}

.certificates div {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
}

.certificates a {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    color: rgba(220, 87, 87, 0.788);
}

.certificates i {
    font-size: 30px;
    color: white;
}

.certificates h2 {
    color: white;
    font-size: 70px;
    padding: 100px 0 50px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

@media(max-width:350px) {
    #img {
        display: none;
    }

    .introduction {
        margin: 0px;
    }

    .introduction h1 {
        font-size: 30px;
    }

    .introduction h3 {
        font-size: medium;
        width: 80%;
    }

    .bar {
        width: 20px;
        height: 2px;
        margin: 3px;
    }

    #burger.active .bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    #burger.active .bar:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
    }

    .newsletter {
        width: 70%;
    }

    #about {
        padding: 50px;
        height: 100%;
    }

    .about {
        display: inline-block;
        justify-content: center;
        text-align: center;
    }

    .about img {
        width: 150px;
    }

    .about-text h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .about-text h5 {
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
        justify-content: center;
    }

    .about-text p {
        letter-spacing: 1px;
        line-height: 20px;
        font-size: 15px;
        margin-bottom: 25px;
    }

    #services {
        text-align: center;
    }

    .services h2 {
        font-size: 25px;
        padding: 0%;
        width: fit-content;
    }

    .card {
        width: 80%;
        margin: 5% 10%;
    }

    .readMore {
        width: fit-content;
    }

    .contact {
        height: fit-content;
    }

    .contact-dets {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
    }

    .contact .mail {
        padding: 50px 0 20px;
    }

    .contact-dets .mobile {
        border: 0px;
        margin: 0px;
        padding: 0px;
    }

    .contact-dets .mobile h3 {
        padding: 15px 0;
    }

    .contact .button-2 {
        margin: 5px 0 15px;
    }

    .needs {
        margin: 25px 0 5px;
    }

    .end {
        font-size: 10px;
    }

    /*read more aspect*/
    .logo {
        font-size: 25px;
    }

    .page-name {
        font-size: 15px;
    }

    .R-introduction {
        padding: 50px 8%;
    }

    .R-introduction h1 {
        font-size: 35px;
    }

    .R-introduction h3 {
        font-size: medium;
        margin: 15px 0;
    }

    #R-img {
        display: none;
    }
    .profile{
        padding: 50px 0;
    }
    .profile-text h2 {
        font-size: 35px;
    }

    .profile-text p {
        font-size: 15px;
    }

    .experience h2 {
        font-size: 35px;
        padding: 50px 0;
    }

    .experience-text h3 {
        font-size: 35px;
    }

    .experience-text h5 {
        font-size: 17px;
        width: 300px;
    }

    .experience-row {
        width: 90%;
        padding: 25px;
        margin-left: 5%;
    }

    .experience-row p {
        font-size: 15px;
    }

    .certificates h2 {
        font-size: 35px;
    }

    .certificates a {
        font-size: 15px;
    }

    .certificates i {
        font-size: 15px;
    }
}